/*Общие стили для разных блоков*/
.white_bg {
  background-color: #fff;
}

.grey_bg {
  background-color: $light_grey_color;
}

.dark_grey_bg {
  background-color: $dark_grey_color;
}

.blue_bg {
  background-color: $blue_color;
}

.left_float {
  float: left;
}
.right_float {
  float: right;
}
.text_center {
  text-align: center;
}
.block_center {
  margin: 0 auto;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  line-height: 50px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  margin: 0;
}

hr {
  width: 68px;
  border-top: 1px solid $blue_color;
}

.block_header {
  width: 100%;
  display: block;
  margin: 5px auto;

  hr {
    alignment: center;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 25px;

    padding-bottom: 70px;

    color: #727272;
  }
} //.block_header

/*Уникальные стили для каждого из блоков */
.features_block {
  height: 625px;
  margin: 0;

  .features_container {
    padding-top: 100px;
    padding-bottom: 100px;

    width: 1168px;
    overflow: hidden;

    .browser_image {
      display: inline-block;
      float: left;
      margin: 0 25px;
    }

    .feature_description {
      float: left;
      margin: 0 25px;

      .feature_header {
        overflow: hidden;

        h2{
          margin: 5px 0;
        }

        hr {
          float: left;
        }
      }

      .feature_general {
        width: 536px;
        padding: 25px 0;

        p {
          margin-bottom: 25px;
        }

        .feature {
          overflow: hidden;

          img {
            height: 32px;
            width: 32px;
            margin: 0;
            float: left;
          }
          .feature_descr {
            padding: 0 20px;
            float: left;
            width: 504px;

            h3 {
              font-size: 16px;
              line-height: 25px;

              color: #323232;
            }
          }
        }
      } //.feature_general

      p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        line-height: 25px;
      }
    } //.feature_description
  } //.features_container
} //.features_block

.info_block {
  padding-top: 115px;
  padding-bottom: 105px;

  .landx_features_container {
    width: 1075px;

    .landx_features_general {
      .landx_features_general_boxes {
        overflow: hidden;
        width: 100%;
        padding-bottom: 50px;

        .landx_feature_box {
          width: 300px;
          height: 200px;
          margin: 0 28px 45px 28px;
          float: left;

          img {
            width: 50px;
            height: 60px;
            display: block;
            padding-bottom: 15px;
          }

          .landx_feature_descr {

            h3 {
              font-size: 20px;
              line-height: 65px;

              color: #323232;
            }

            p {
              font-size: 16px;
            }
          } //.landx_feature_descr
        } //.landx_feature_box
      } //.landx_features_general_boxes
    } //.landx_features_general
  } //.landx_features_container

  .pricing_table_container {
    width: 1075px;

    .pricing_table_general {
      overflow: hidden;
      padding-left: 1%;

      .tariff_block {
        float: left;
        padding: 0 15px;
        width: 33%;

        .tariff_header {
          height: 99px;

          h3 {
            font-size: 20px;
            line-height: 65px;
            font-weight: 600;

            color: #fff;
          }

          p {
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            line-height: 1;

            color: #fff;

            padding-bottom: 70px;

            .price {
              color: $blue_color;
              font-weight: bold;
            }
          }
        } //.tariff_header

        .tariff_options {
          background-color: #fff;

          .option_row {
            overflow: hidden;
            padding: 15px 30px;

            border-bottom-style: dashed;
            border-bottom-width: 1px;

            .option_description {
              float: left;
              margin: 0;

              font-family: 'Raleway', sans-serif;
              font-size: 16px;
              line-height: 24px;
            }

            .option_value {
              float: right;
              margin: 0;

              font-weight: bold;
            }
          } //.option_row
        } //.tariff_options

        .block_footer {
          overflow: hidden;
          height: 76px;
          padding: 15px 30px;

          p {
            float: left;
            margin: 0;

            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 45px;
          }

          button {
            float: right;
            width: 96px;
            height: 42px;

            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
          }

          .white_button {
            background-color: #fff;

            border: 1px solid #727272;
            border-radius: 3px;

            color: #727272;
          }

          .blue_button {
            background-color: $blue_color;

            border: 1px solid $blue_color;
            border-radius: 3px;

            color: #fff;
          }
        } //.block_footer
      } //.tariff_block
    } //.pricing_table_general
  } //.pricing_table_container

  .watch_video_container {
    width: 945px;

    img {
      padding-bottom: 40px;
    }

    .features_list_block {
      width: 861px;
      overflow: hidden;

      .feature {
        width: 33%;

        p {
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 64px;
        }

        .fa {
          padding: 10px;
        }
      } //.feature
    } //.features_list_block
  } //watch_video_container

  .product_screenshots_container {
    .swiper-container {
      width: 1138px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-wrapper {
      padding-bottom: 30px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }
  } //.product_screenshots_container

  .trusted_container {
    .logos_block {
      width: 661px;
      padding-bottom: 10px;
      overflow: hidden;

      .image_block {
        float: left;
        width: 25%;

        img{
          display: block;
        }
      }
    } //.logos_block

    .feedbacks_block {
      width: 1155px;
      overflow: hidden;

      .feedback_block {
        float: left;
        width: 33%;

        .quote_icon {
          margin-bottom: -22px;

          img {
            display: block;
          }
        }

        .quote_block {
          background-image: url('../images/backgrounds/quote_bg.png');

          width: 361px;
          height: 243px;
          margin-bottom: 10px;

          p {
            padding: 50px 35px 35px 35px;
            margin: 0;

            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            line-height: 25px;
            color: #727272;
          }
        }

        .quote_autor {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 13px;
          line-height: 25px;
          color: #727272;
        }
      }
    }
  } //.trusted_container
} //.info_block

.get_started_block {
  height: 449px;
  margin: 0;
  background: #494848 url('../images/backgrounds/get_started_bg.png') 100% 100% no-repeat;
  padding-top: 141px;

  color: #fff;

  .text_block {
    padding-bottom: 54px;

    h2 {
      font-weight: bold;
      margin: 0;
    }

    .small-font {
      font-size: 20px;
    }
  } //.text_block

  .btn-block {
    width: 184px;
  }

  .btn-lg {
    font-size: 16px;
    padding: 10px;
  }
} //.get_started_block
