.page-header {
  height: 750px;
  margin: 0;
  background: #494848 url('../images/backgrounds/header_background_2.png') 100% 100% no-repeat;

  color: #fff;

  .icons {
    width: 100%;
    padding-top: 50px;
    padding-right: 10%;
    padding-bottom: 165px;
    padding-left: 10%;
    overflow: hidden;

    .logo {
      float: left;
    }

    .social_networks {
      float: right;
    }
  }

  h1 {
    width: 100%;
    padding-bottom: 45px;
    margin: 0;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    line-height: 60px;

    @media all and (min-width: 640px) and (max-width: 980px) {
      font-size: 34px;
      line-height: 45px;
    }

    @media all and (min-width: 320px) and (max-width: 640px) {
      font-size: 26px;
      line-height: 37px;
    }
  }
  .description {
    width: 100%;
    padding-bottom: 70px;
    text-align: center;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 30px;

    @media all and (min-width: 640px) and (max-width: 980px) {
      font-size: 18px;
      line-height: 28px;
    }
    @media all and (min-width: 320px) and (max-width: 640px) {
      font-size: 14px;
      line-height: 24px;
    }

    p {
      width: 695px;
      margin: 0 auto;
    }
  }

  .subscription-form {
    width: 100%;
    padding-bottom: 10px;

    .container {
      padding-left: 15px;
      padding-right: 15px;

      .fm-get-started {
        max-width: 944px;
        margin: 0 auto;
        overflow: hidden;

        background: url(../images/backgrounds/fm_get_started_bg.png); /* ������� ������� - ������ � ������������� 0.5;
                                            ������� ���������, ����� �� ����������� ������������ �������� ��������� */

        .form-control {
          box-sizing: border-box;
          background-color: rgba(0, 0, 0, 1);

          border-color: rgba(1, 153, 230, 0.3); //�.�. � border ��� ����������� ������� opacity, � �� ������� ��� 30% ���������� rgba
          box-shadow: inset 3px 0 $blue_color;

          float: left;
          width: 20%;
          height: 54px;
          margin: 25px 0 25px 10px;
        }

        .btn-lg {
          width: 30%;
          float: right;
          height: 54px;
          margin: 25px 10px;
        }
      }
    }
  }

  .sub-heading {
    width: 265px;
    margin: 0 auto;
    padding-top: 10px;
    transform: translate(85px,0);

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 30px;

    background: url(../images/icons/arrow_icon.png) 100% -10% no-repeat; /* Путь к файлу с изображением,
                                                   положение в правом верхнем углу
                                                   и отмена повторения фона */
  }
}

.blue_font {
  color: $blue_color;
}

